<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>EmployeeManager</servlet-name>
        <servlet-class>com.example.HRManagers.servlet.EmployeeManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.example.HRManagers.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessEmployee</servlet-name>
        <servlet-class>com.example.HRManagers.servlet.ProcessEmployee</servlet-class></servlet>
    <servlet>
        <servlet-name>CheckEmail</servlet-name>
        <servlet-class>com.example.HRManagers.servlet.ajax.CheckEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckValid</servlet-name>
        <servlet-class>com.example.HRManagers.servlet.ajax.CheckValid</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeManager</servlet-name>
        <url-pattern>/EmployeeManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessEmployee</servlet-name>
        <url-pattern>/ProcessEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmail</servlet-name>
        <url-pattern>/CheckEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckValid</servlet-name>
        <url-pattern>/CheckValid</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>